/*! ===================================
 *  Author: Nazarkin Roman, WPHunters
 *  -----------------------------------
 *  Email(support):
 * 	bbdesign_sp@yahoo.com
 *  ===================================
 */


/* ============================================================================= */
/* Common styles. */
/* ============================================================================= */
/* header styles preview */
.wph-preview { max-width : 100%; margin : 0 auto; display : block; }

/* hide customizer link from menu */
#adminmenu .hide-if-no-customize { display : none; }

/* can be used to hide any customizer links in wp dashboard*/
/* not needed for now */
/*.hide-if-no-customize { display: none !important; }*/

/* TGM nag styles */
#setting-error-tgmpa.update-nag { display : block; }


/* ============================================================================= */
/* Custom fields. */
/* ============================================================================= */
.post-type-post .acf-tab-button[data-key="field_577ff202fed8a"],
.acf-tab-button[data-key="field_577ff320cf57f"] { display : none; }

.post-type-post .acf-tab-button[data-key="field_577ff320cf57f"] { display : block; }


/* ============================================================================= */
/* Custom columns. */
/* ============================================================================= */
.manage-column.column-revealid_id { width : 25px; }
.manage-column.column-featured_thumb { width : 150px; }
.featured_thumb.column-featured_thumb a { box-shadow : none; -webkit-box-shadow : none; }
.featured_thumb.column-featured_thumb img { width : 150px; height : auto; }
.wph-big-textarea textarea { height : 130px; }

/* hide custom columns for mobile */
@media screen and (max-width : 782px) {
    .revealid_id.column-revealid_id,
    .featured_thumb.column-featured_thumb,
    .manage-column.column-revealid_id,
    .manage-column.column-featured_thumb { display : none !important; }
}


/* ============================================================================= */
/* Paid plugins. */
/* ============================================================================= */
/* hide unuseful slider revolution activation nags */
.rs-dashboard .rs-dash-widget,
.rs-update-history-wrapper,
.rs-update-notice-wrap { display : none; }

.plugins-php [data-slug="slider-revolution"] + .plugin-update-tr,
.plugins-php [data-slug="slider-revolution"] + .plugin-update-tr + .plugin-update-tr {
    display : none;
}

/* Visual Composer activation nags */
#vc_license-activation-notice { display : none; }
.plugins-php .plugin-update-tr[data-slug="js_composer"] { display : none; }

/*#adminmenu a[href="admin.php?page=vc-updater"],*/
/*#wpb-js-composer-settings a.nav-tab[href$="admin.php?page=vc-updater"] { display : none; }*/

/* Smart Slider 3 nags */
.toplevel_page_nextend-smart-slider3-pro .n2-ss-demo-slider,
.toplevel_page_nextend-smart-slider3-pro .n2-box-add-license {
    display:  none;
}