* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;

}

.contact__hero_wraper {
    display: block;
    margin: auto;
    text-align: center;
    padding: 30px;

    .contact__hero_p1 {
        text-transform: uppercase;
        color: #939393;

    }

    h2 {
        font-size: 5.5rem;
        font-weight: bold;
    }

    .wrapper {
        margin-top: 61px !important;

        .link_wrapper a:hover {
            width: 247px !important;
        }
    }

    .contact__hero_p2 {
        font-size: 1.6rem;
        color: #6f6f6f;
    }

}

.contact__contact1_wraper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 185px;
    justify-content: center;
    
    .contact__contact1_box1{
        flex-grow: 2;
        width: 711px;
    }

    .contact__contact1_box2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 2;
        text-align: center;
        color: #6f6f6f;
        line-height: 30px;
        max-width: 100%;

        .contact__contact1_box2-1 {
            background-color: #1c1c1c;
            flex-grow: 1;
            min-height: 350px;
            padding: 10%;
            .contact__contact1_box2_title1{
                color: #fff;
                font-weight: bold;
            }

        }

        .contact__contact1_box2-2 {
            background-color: #000;
            flex-grow: 1;
            min-height: 350px;
            padding: 10%;
            .contact__contact1_box2_title2{
                color: #fff;
                font-weight: bold;
            }


        }

        .contact__contact1_box2-3 {
            background-color: #000;
            flex-grow: 1;
            min-height: 350px;
            padding: 10%;
            .contact__contact1_box2_title3{
                color: #fff;
                font-weight: bold;
            }

        }

        .contact__contact1_box2-4 {
            background-color: #1c1c1c;
            flex-grow: 1;
            min-height: 350px;
            padding: 10%;
            .contact__contact1_box2_title4{
                color: #fff;
                font-weight: bold;
            }

        }
    }
}

.contact__contactform_wraper{
    margin-top: 110px;
    width: 99%;
    h2{
        text-align: center;
        font-size: 4.5rem;
        font-weight: 700;
    }
    .contact__contactform_form{
        
        margin-top: 100px;
    }
}

.contact__socialm{
    text-align: center;
    margin-top: 100px;
    background-color: #f3f3f3;
    .contact__socialm_wraper{
        padding-top: 160px;
        padding-bottom: 160px;
        .contact__socialm_title{
            font-weight: bold;
            font-size: 2.5rem;
        }
    }
    
}