* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;

}

// $blueText:#1A519E;

// $px18: 1.125em;

.aboutus {
  background-image: url(/Design/Assets/png/MARIA111-2048x546.png);
  background-position: 38%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-x: -353px;

  .aboutus__container {

    max-width: 56%;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 139px;
    padding-bottom: 140px;

    p {
      line-height: 33px;
      color: rgb(49, 49, 49);
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 1163px) {
  .aboutus {
    background-position: 47%;
    .aboutus__container {
      max-width: 90%;
      font-size: 0.9rem;
    }
  }
}







@import "test";