* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;

}

// $blueText:#1A519E;

// $px18: 1.125em;

/* **************************************Abour Us section************************** */

.aboutus {
  background-image: url(../../Design/Assets/png/MARIA111-2048x546.png);
  background-position: 38%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 671px;

  .aboutus__container {

    max-width: 56%;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 116px;
    padding-bottom: 140px;

    h1 {
      font-size: 3.6rem;
    }

    -webkit-animation-duration: 10s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;

    @keyframes fadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-20px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

  }


  p {
    line-height: 33px;
    color: rgb(49, 49, 49);
    font-weight: 400;


  }


}

@media screen and (max-width: 1163px) {
  .aboutus {
    background-position: 47%;

    .aboutus__container {
      max-width: 90%;
      font-size: 0.9rem;
    }
  }
}

/* ************************************** FIN Abour Us section************************** */



/* **************************************Footer section************************** */

.Footer {
  background-image: url(../../Design/Assets/png/footerBackgroundBlack.jpg);
  background-color: rgb(33, 33, 33);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 100%;

  .footer__flex_container {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .box {
      text-align: center;
      list-style-type: none;
    }

    .box h3 {
      font-weight: 700;
    }

    .footer__quickLinks ul {
      list-style-type: none;
    }

    .footer__quickLinks,
    ul,
    li,
    a {
      color: white;
    }

    .footer__quickLinks,
    ul,
    li,
    a:hover {
      font-size: 18px;
    }

    .footer__logoSM {
      .logo__footer {
        width: 98px;
      }
    }

    .footer__contact {
      padding-bottom: 20px;
    }
  }

  hr {
    width: 50%;
    margin: auto;
  }

  .Footer__copyright {
    height: 40px;
    text-align: center;

    p {
      padding-top: 0px;
    }
  }

}


@media screen and (max-width: 1163px) {
  .Footer {
    .footer__flex_container {
      .footer__logoSM {
        .logo__footer {
          width: 50px;
        }

        img {
          width: 30px;
        }

        p {
          display: none;
        }

        h3 {
          font-size: 18px;
        }
      }

      .footer__contact {
        padding-top: 44px;
      }
    }
  }
}

/* **************************************FIN Footer section************************** */



/* **************************************Clients section************************** */

.clients {
  background-color: rgb(241, 241, 241);
  margin-top: -25px;

  h1 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    padding-top: 135px;
  }

  .clients__fcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 164px;
    padding-top: 90px;

    img {
      border-radius: 60px;
      width: 122px;
      height: 114px;
      box-shadow: 8px 7px 14px rgb(221, 221, 221);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    /* Rotation */
    img:hover{
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
  }
}

@media screen and (max-width: 778px) {
  .clients {
    .clients__fcontainer {
      .clients__box {
        padding: 2%;
      }
    }
  }
}

@import "test";