
.wph-icon-facebook:before { content: '\e800'; } /* '' */
.wph-icon-facebook-official:before { content: '\e801'; } /* '' */
.wph-icon-facebook-squared:before { content: '\e802'; } /* '' */
.wph-icon-flickr:before { content: '\e803'; } /* '' */
.wph-icon-forumbee:before { content: '\e804'; } /* '' */
.wph-icon-foursquare:before { content: '\e805'; } /* '' */
.wph-icon-git-squared:before { content: '\e806'; } /* '' */
.wph-icon-git:before { content: '\e807'; } /* '' */
.wph-icon-github:before { content: '\e808'; } /* '' */
.wph-icon-github-squared:before { content: '\e809'; } /* '' */
.wph-icon-github-circled:before { content: '\e80a'; } /* '' */
.wph-icon-gittip:before { content: '\e80b'; } /* '' */
.wph-icon-google:before { content: '\e80c'; } /* '' */
.wph-icon-gplus:before { content: '\e80d'; } /* '' */
.wph-icon-gplus-squared:before { content: '\e80e'; } /* '' */
.wph-icon-gwallet:before { content: '\e80f'; } /* '' */
.wph-icon-hacker-news:before { content: '\e810'; } /* '' */
.wph-icon-html5:before { content: '\e811'; } /* '' */
.wph-icon-instagram:before { content: '\e812'; } /* '' */
.wph-icon-ioxhost:before { content: '\e813'; } /* '' */
.wph-icon-joomla:before { content: '\e814'; } /* '' */
.wph-icon-jsfiddle:before { content: '\e815'; } /* '' */
.wph-icon-lastfm-squared:before { content: '\e816'; } /* '' */
.wph-icon-leanpub:before { content: '\e817'; } /* '' */
.wph-icon-linkedin-squared:before { content: '\e818'; } /* '' */
.wph-icon-linux:before { content: '\e819'; } /* '' */
.wph-icon-linkedin:before { content: '\e81a'; } /* '' */
.wph-icon-maxcdn:before { content: '\e81b'; } /* '' */
.wph-icon-meanpath:before { content: '\e81c'; } /* '' */
.wph-icon-openid:before { content: '\e81d'; } /* '' */
.wph-icon-pagelines:before { content: '\e81e'; } /* '' */
.wph-icon-paypal:before { content: '\e81f'; } /* '' */
.wph-icon-pied-piper-squared:before { content: '\e820'; } /* '' */
.wph-icon-pied-piper-alt:before { content: '\e821'; } /* '' */
.wph-icon-pinterest:before { content: '\e822'; } /* '' */
.wph-icon-pinterest-circled:before { content: '\e823'; } /* '' */
.wph-icon-pinterest-squared:before { content: '\e824'; } /* '' */
.wph-icon-qq:before { content: '\e825'; } /* '' */
.wph-icon-reddit:before { content: '\e826'; } /* '' */
.wph-icon-reddit-squared:before { content: '\e827'; } /* '' */
.wph-icon-renren:before { content: '\e828'; } /* '' */
.wph-icon-shirtsinbulk:before { content: '\e829'; } /* '' */
.wph-icon-simplybuilt:before { content: '\e82a'; } /* '' */
.wph-icon-skyatlas:before { content: '\e82b'; } /* '' */
.wph-icon-skype:before { content: '\e82c'; } /* '' */
.wph-icon-slack:before { content: '\e82d'; } /* '' */
.wph-icon-slideshare:before { content: '\e82e'; } /* '' */
.wph-icon-soundcloud:before { content: '\e82f'; } /* '' */
.wph-icon-spotify:before { content: '\e830'; } /* '' */
.wph-icon-stackexchange:before { content: '\e831'; } /* '' */
.wph-icon-stackoverflow:before { content: '\e832'; } /* '' */
.wph-icon-steam:before { content: '\e833'; } /* '' */
.wph-icon-steam-squared:before { content: '\e834'; } /* '' */
.wph-icon-stumbleupon:before { content: '\e835'; } /* '' */
.wph-icon-stumbleupon-circled:before { content: '\e836'; } /* '' */
.wph-icon-tencent-weibo:before { content: '\e837'; } /* '' */
.wph-icon-trello:before { content: '\e838'; } /* '' */
.wph-icon-tumblr:before { content: '\e839'; } /* '' */
.wph-icon-tumblr-squared:before { content: '\e83a'; } /* '' */
.wph-icon-twitch:before { content: '\e83b'; } /* '' */
.wph-icon-twitter:before { content: '\e83c'; } /* '' */
.wph-icon-vimeo-squared:before { content: '\e83d'; } /* '' */
.wph-icon-vine:before { content: '\e83e'; } /* '' */
.wph-icon-vkontakte:before { content: '\e83f'; } /* '' */
.wph-icon-whatsapp:before { content: '\e840'; } /* '' */
.wph-icon-wechat:before { content: '\e841'; } /* '' */
.wph-icon-weibo:before { content: '\e842'; } /* '' */
.wph-icon-windows:before { content: '\e843'; } /* '' */
.wph-icon-wordpress:before { content: '\e844'; } /* '' */
.wph-icon-xing:before { content: '\e845'; } /* '' */
.wph-icon-xing-squared:before { content: '\e846'; } /* '' */
.wph-icon-yelp:before { content: '\e847'; } /* '' */
.wph-icon-youtube:before { content: '\e848'; } /* '' */
.wph-icon-yahoo:before { content: '\e849'; } /* '' */
.wph-icon-youtube-squared:before { content: '\e84a'; } /* '' */
.wph-icon-youtube-play:before { content: '\e84b'; } /* '' */
.wph-icon-blank:before { content: '\e84c'; } /* '' */
.wph-icon-lemon:before { content: '\e84d'; } /* '' */
.wph-icon-lastfm:before { content: '\e84e'; } /* '' */
.wph-icon-sellsy:before { content: '\e84f'; } /* '' */
.wph-icon-twitter-squared:before { content: '\e850'; } /* '' */
.wph-icon-angellist:before { content: '\e851'; } /* '' */
.wph-icon-apple:before { content: '\e852'; } /* '' */
.wph-icon-behance:before { content: '\e853'; } /* '' */
.wph-icon-behance-squared:before { content: '\e854'; } /* '' */
.wph-icon-bitbucket:before { content: '\e855'; } /* '' */
.wph-icon-bitbucket-squared:before { content: '\e856'; } /* '' */
.wph-icon-buysellads:before { content: '\e857'; } /* '' */
.wph-icon-cc:before { content: '\e858'; } /* '' */
.wph-icon-codeopen:before { content: '\e859'; } /* '' */
.wph-icon-connectdevelop:before { content: '\e85a'; } /* '' */
.wph-icon-css3:before { content: '\e85b'; } /* '' */
.wph-icon-dashcube:before { content: '\e85c'; } /* '' */
.wph-icon-delicious:before { content: '\e85d'; } /* '' */
.wph-icon-deviantart:before { content: '\e85e'; } /* '' */
.wph-icon-digg:before { content: '\e85f'; } /* '' */
.wph-icon-dribbble:before { content: '\e860'; } /* '' */
.wph-icon-dropbox:before { content: '\e861'; } /* '' */
.wph-icon-drupal:before { content: '\e862'; } /* '' */
.wph-icon-cc-visa:before { content: '\e863'; } /* '' */
.wph-icon-cc-mastercard:before { content: '\e864'; } /* '' */
.wph-icon-cc-discover:before { content: '\e865'; } /* '' */
.wph-icon-cc-amex:before { content: '\e866'; } /* '' */
.wph-icon-cc-paypal:before { content: '\e867'; } /* '' */
.wph-icon-cc-stripe:before { content: '\e868'; } /* '' */
.wph-icon-adn:before { content: '\e869'; } /* '' */
.wph-icon-android:before { content: '\e86a'; } /* '' */
.wph-icon-angle-left:before { content: '\e86b'; } /* '' */
.wph-icon-angle-right:before { content: '\e86c'; } /* '' */
.wph-icon-angle-up-1:before { content: '\e86d'; } /* '' */
.wph-icon-angle-down-1:before { content: '\e86e'; } /* '' */
.wph-icon-angle-left-2:before { content: '\e86f'; } /* '' */
.wph-icon-angle-right-2:before { content: '\e870'; } /* '' */
.wph-icon-angle-up-2:before { content: '\e871'; } /* '' */
.wph-icon-angle-down-2:before { content: '\e872'; } /* '' */
.wph-icon-search:before { content: '\e873'; } /* '' */
.wph-icon-phone:before { content: '\e874'; } /* '' */
.wph-icon-phone-2:before { content: '\e875'; } /* '' */
.wph-icon-phone-1:before { content: '\e876'; } /* '' */
.wph-icon-search-2:before { content: '\e877'; } /* '' */
.wph-icon-search-1:before { content: '\e878'; } /* '' */
.wph-icon-angle-right-3:before { content: '\e879'; } /* '' */
.wph-icon-angle-left-3:before { content: '\e87a'; } /* '' */
.wph-icon-camera-alt:before { content: '\e87b'; } /* '' */
.wph-icon-camera:before { content: '\e87c'; } /* '' */
.wph-icon-rss:before { content: '\e87d'; } /* '' */
.wph-icon-phone-3:before { content: '\e87e'; } /* '' */
.wph-icon-angle-down-3:before { content: '\e87f'; } /* '' */
.wph-icon-angle-up-3:before { content: '\e880'; } /* '' */
.wph-icon-arrow-down:before { content: '\e881'; } /* '' */
.wph-icon-arrow-left:before { content: '\e882'; } /* '' */
.wph-icon-arrow-up:before { content: '\e883'; } /* '' */
.wph-icon-arrow-right:before { content: '\e884'; } /* '' */
.wph-icon-checkmark-circle:before { content: '\e885'; } /* '' */
.wph-icon-cross-circle:before { content: '\e886'; } /* '' */
.wph-icon-arrow-right-circle:before { content: '\e887'; } /* '' */
.wph-icon-arrow-left-circle:before { content: '\e888'; } /* '' */
.wph-icon-download:before { content: '\e889'; } /* '' */